@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-secondary-50;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-container-200/40 rounded my-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-container-200 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-container-100;
}

/* Scrollbar styling for firefox */
@supports (scrollbar-color: rgba(55, 65, 81, 100) transparent) {
  * {
    scrollbar-color: rgba(55, 65, 81, 100) transparent;
    scrollbar-width: thin;
  }
}

.masonry-columns {
  grid-template-columns: masonry;
}